<div class="bar-chart">
  <h4>Submissions</h4>
  <%= image_tag("bar-graph-hr.png") %>
</div>

<!----
<div class="previous-months">
  <h4>Previous months</h4>
  <%= image_tag("previous-month.png") %>
</div>
----->
