<div class="engaged-employees">
  <%= image_tag("engaged-employee-num.png") %>
</div>

<div class="quote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim enim, ultrices nec mattis in, lobortis sit amet velit.</p>
  <span><i>- Lorem Ipsum, 2014</i></span>
</div>

<div class="action-items">
  <h4>Action Items</h4>
  <div class="action-item">
    <div class="act-button"><%= image_tag("act-btn.png") %></div>
  </div>
</div>