<div class="engaged-employees">
  <%= image_tag("engaged-employee-num.png") %>
</div>

<div class="quote">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim enim, ultrices nec mattis in, lobortis sit amet velit.</p>
  <span><i>- Lorem Ipsum, 2014</i></span>
</div>

<div class="action-items">
  <h4>Action Items</h4>
  <div class="action-item">
    <div class="act-button"><%= image_tag("act-btn.png") %></div>
    <div class="act-text">
      <p>One thing that has had wild success in top companies is picanha beef tenderloin, corned beef pancetta strip steak turkey beef ribs pork chop shank.</p>
      <span><i><b>34</b> companies found this useful</i></span>
    </div>
  </div>
  <div class="action-item">
    <div class="act-button"><%= image_tag("act-btn.png") %></div>
    <div class="act-text">
      <p>One thing that has had wild success in top companies is picanha beef tenderloin, corned beef pancetta strip steak turkey beef ribs pork chop shank.</p>
      <span><i><b>34</b> companies found this useful</i></span>
    </div>
  </div>
</div>