<div class="question top">
  <h5>Do you have enough space in your office?</h5>
  <div class="slider">
    <div class="info-left">No, it's really tight</div>
    <div class="info-right">Yes, lots of space</div>
    <%= image_tag("slider-color.jpg") %>
  </div>
</div>

<div class="question">
  <h5>How many people work in the same room with you?</h5>
  <div class="input">
    <input class="overtime" type="number"> people  
  </div>
</div>

<div class="question">
  <h5>Does your work environment enable you to work productively every day?</h5>
  <div class="slider">
    <div class="info-left">No, it's really noisy</div>
    <div class="info-right">Yes, I can work really well here</div>
    <%= image_tag("slider.jpg") %>
  </div>
</div>