<div class="question top">
  <h5>Do you feel like you can make your own choices on how to work on a task?</h5>
  <div class="slider">
    <div class="info-left">No, I get micromanaged a lot</div>
    <div class="info-right">Yes, I have lots of autonomy</div>
    <%= image_tag("slider-color.jpg") %>
  </div>
</div>

<div class="question">
  <h5>Do you have a say in what kind of work assignments you get?</h5>
  <div class="slider">
    <div class="info-left">No, I just get assigned random tasks</div>
    <div class="info-right">Yes, I participate in those decisions</div>
    <%= image_tag("slider.jpg") %>
  </div>
</div>