<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<div class="header">
  <span class="logo">ReCulture</span>
</div>

<div class="content">
  <div class="heading">
    <h2>Have something to say to your boss?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac magna ultricies, accumsan elit ut, eleifend turpis.</p>
  </div>

  <div class="feedback-short">
    <div class="feedback-form">
      <div class="tags">
        <div class="row1">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
        <div class="row2">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
        <div class="row3">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
      </div> <!-- tags -->
      <div class="comment">
        <input type="text" name="comment">
      </div> <!-- comment -->
    </div> <!-- feedback-form -->
    
    <div class="tips">
      <p>Tips</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Cras ac magna ultricies</p>
    </div> <!-- tips -->
  </div> <!-- feedback-short -->


</div> <!-- content -->

