<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

<div class="header">
  <%= image_tag("top-nav-user.png") %>
</div>

<div class="content">
  <div class="heading">
    <h2>Have something to say to your boss?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac magna ultricies, accumsan elit ut, eleifend turpis.</p>
  </div>

  <div class="feedback-short">
    <div class="feedback-form">
      <div class="tags">
        <div class="row1">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
        <div class="row2">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
        <div class="row3">
          <span>Management</span>
          <span>Management</span>
          <span>Management</span>
        </div>
      </div> <!-- tags -->
      <div class="comment">
        <textarea name="comment"></textarea>
      </div> <!-- comment -->
      <%= link_to "Continue...", 'survey_details', method: 'get', class: 'submit-button' %>
      <!-- <button type="submit" value="submit" name="submit" >Continue...</button> -->
    </div> <!-- feedback-form -->

    <div class="tips">
      <div class="tips-top">
        <p>Tips</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Cras ac magna ultricies</p>
      </div>
      <div class="tips-bottom">
        <p>Submissions with a comment over 400 characters have an <b>80%</b> better chance of being answered by management.</p>
      </div>
    </div> <!-- tips -->
  </div> <!-- feedback-short -->


</div> <!-- content -->

