<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<div class="header">
  <span class="logo">ReCulture</span>
</div>

<div class="content">
  <div class="heading">
    <h2>Have something to say to your boss?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac magna ultricies, accumsan elit ut, eleifend turpis.</p>
  </div>




</div> <!-- content -->