<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .warning {
      font-size: large;
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <h2 class="margin-base-vertical">Has your Work-Life-Balance issue been resolved?</h2>
        <p>
          <b>Two weeks ago</b>, your manager has decided to: 
          <ul>
            <li>Try to over-estimate project completion time</li>
          </ul>
          in order to address the issue of:
          <ul>
            <li>Overtime averaging > 10 hours a week</li>
          </ul>
        </p>
        <a class="btn btn-lg btn-success" href="#" role="button">Yes!</a>
        <a class="btn btn-lg btn-danger" href="#" role="button">Unfortunately, not</a>
      </div>
    </div>
  </div>
</body>
</html>
