// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
}

.content {
  text-align: center;
  
  h2 {

  }
}
