// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

h4 { // new
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

p { //new 
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 2em;
}

.header {
  background-color: #104867;
  color: #fff;
  padding: 5px 30px;
  overflow: hidden;
  img {
    float: right;
  }
}

.content {
  text-align: center;
  width: 100%;

  &.manager {
    .graph {
      margin: 50px 20px 20px 20px;
      display: inline-block;
      .graph-title {
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
        h3 {
          float: left;
        }
      }
      img {
        height: 300px;
        width: 700px;
      }
      .graph-tags {
        img {
          margin-top: 10px;
          height: 60px;
          width: 600px;
          margin-bottom: 40px;
        }
      }
    }
    .bar-chart {
      float: left;
      h4 {
        text-align: left;
        margin-left: 30px;
      }
      img {
        height: 250px;
        width: 550px;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
      }
    }
    .previous-months {
      margin-top: 30px;
      margin-bottom: 50px;
      float: left;
      h4 {
        text-align: left;
        margin-left: 30px;
      }
      img {
        height: 150px;
        width: 500px;
        float: left;
        margin-left: 60px;
        margin-top: 20px;
      }
    }
    .engaged-employees {
      float: left;
      margin-left: 80px;
      margin-top: 40px;
    }
    .quote {
      float: left;
      text-align: center;
      margin-top: 50px;
      margin-left: 100px;
      p {
        width: 40%;
        font-size: 15px;
      }
    }
    .action-items {
      float: left;
      margin-top: 40px;
      margin-bottom: 20px;
      h4 {
        text-align: left;
        margin-left: 30px;
        margin-bottom: 20px;
      }
      .action-item {
        width: 65%;
        margin-left: 50px;
        margin-bottom: 30px;
        overflow: hidden;
        .act-button {
          float: left;
          margin-top: 5px;
        }
        .act-text {
          width: 80%;
          text-align: left;
          float: right;
          padding-left: 20px;
        }
      }
    }
  }
  .heading {
    background-image: url("heading-background.jpg");
    overflow: hidden;
    height: 300px;
    color: white;
    padding: 7% 0;
    p {
      width: 50%;
      display: inline-block;
      margin-top: 0;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
  .feedback-short {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    .feedback-form {
      float: left;
      width: 60%;
      padding: 10px 0 20px 0;
      .tags {
        border-right: 1px solid #ddd;
        padding-right: 25px;
        padding-left: 5px;
        span {
          display: inline-block;
          width: 180;
          height: 60;
          padding: 10px 15px;
          margin-bottom: 5px;
          background-color: #fff; 
		  border: 2px solid #104867;
		  
		  font-family: 'Open Sans Condensed', sans-serif;
		  font-size: 18px;
		  line-height: 36px; 
		  color: #104867;
		  
		  &:hover {
			cursor: pointer;  
		  	}	
		  
        }
        .marked {
          background-color: #EC4848;
          border-color: #EC4848;
        }
        .row3 > span {
          margin-bottom: 0;
        }
      } // tags
      .comment {
        border-right: 1px solid #ddd;
        padding-right: 20px;
        margin-top: 50px; 
        textarea {
          width: 550px;
          height: 120px; 
          overflow: auto;
        }
      } // comment
      button { //new 
        margin-top: 40px;
		width: 40%;
		padding: 15px 5px;
		background-color: #1994B4;
		outline: none;
		border: 0;
		border-radius: 6px;
		
		text-align: center;
		color: #fff;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 800;
		font-size: 18px;
		text-transform: uppercase;
      }
    } // feedback-form
    .tips {
      width: 35%;
      text-align: left;
      padding-left: 40px; 
      padding-top: 10px;
      float: left;
      p {
        width: 100%;
        padding-left: 20px;
      }
      .tips-top {
        margin-top: 10px;
      }
      .tips-bottom {
        margin-top: 120px;
      }
    } // tips
  } // feedback-short

  .feedback-long {
    border-top: 1px solid #ddd;
    .feedback-headings {
      width: 30%;
      float: left;
      text-align: right;
      padding-top: 20px;
      .feedback-heading {
        cursor: pointer;
        padding: 20px 0 10px 30px;
        overflow: hidden;
        &.not-selected {
          padding-right: 40px;
        }
        &.selected {
          font-weight: bold;
          color: #104867;
        }
        .blip {
          float: right;
          position: relative;
          left: 2px;
          margin-left: 30px;
          img {
            height: 20px;
            width: 10px;
          }
        }
        span {
          float: right;
          display: block;
        }
        .notification {
          float: right;
          margin-right: 20px;
          position: relative;
          bottom: 1px;
        }
      }
    } // feedback-headings
    .feedback-sections {
      border-left: 1px solid #ddd;
      width: 60%;
      float:left;
      min-height: 500px;
      padding-top: 20px;
      z-index: -1;
      .feedback-section {
        .question {
          margin-bottom: 20px;
          &.top {
            margin-top: 40px;
          }
          &.bottom {
            margin-bottom: 50px;
          }
          h5 {
            margin-bottom: 20px;
            font-size: 16px;
          }
          .input {
            padding-bottom: 20px;
          }
          .slider {
            width: 500px;
            display: inline-block;
            .info-left {
              float: left;
              font-size: 11px;
            }
            .info-right {
              float: right;
              font-size: 11px;
            }
          }
          .overtime {
            width: 50px;
          }
        }
      }
    }
  } // feedback-long

}
